<div class='container'>
  <div class='card'>
    <div class='card-header'>
    </div>
    <div class='card-body'>
      <div id="table-scroll">
        <table class='table table-bordered table-striped '>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Increase</th>
              <th>Decrease</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let debit of dataList'>
              <td *ngIf="debit.from">{{debit.from}}</td>
              <td *ngIf="debit.to">{{debit.to}}</td>
              <td>{{debit.description}}</td>
              <td *ngIf="debit.from" class="green-text">
                + {{debit.amount|currency :'EUR':symbol}}
              </td>
              <td></td>
              <td *ngIf="debit.to" class="red-text">
                - {{debit.amount|currency :'EUR':symbol}}
              </td>
              <td>{{debit.date|date:'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>