.row {
  height: 18px;
}

.column {
  border: 1px solid black;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.image {
  width: 70%;
  height: 50%;
  left:15%;
  position: absolute;
  top: 100px;
}
.container{
  border-style: solid;
  border-color: blue;
  display: block;
  background-color: #000000;
  width: 366px;
  position: absolute;
  top:10%;
  left:10%;
}
.text{
  position: absolute;
}
.new-game{
  position: absolute;
  top:50%;
  left:10%;
  width:366px;
}
