.red-text {
    color: red;
}

.green-text {
    color: green;
}

#table-scroll {
    height: 250px;
    overflow: auto;
    margin-top: 20px;
}
#table-scroll table thead {
    position: relative;
}